extends layout

block headContent
  link(rel="stylesheet", href="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker.min.css")

block content
  .container
    .row
      .col-xs-12.col-lg-8.col-lg-offset-2
        h2= title
        hr
        form(method="post" action="/account")
          .form-group
            label(for="item") 事项
            input#item.form-control(type="text" name="title")
          .form-group
            label(for="time") 发生时间
            input#time.form-control(type="date" name="time")
          .form-group
            label(for="type") 类型
            select#type.form-control(name="type")
              option(value="-1") 支出
              option(value="1") 收入
          .form-group
            label(for="account") 金额
            input#account.form-control(type="text" name="account")
          .form-group
            label(for="remarks") 备注
            textarea#remarks.form-control(name="remarks")
          hr
          button.btn.btn-primary.btn-block(type="submit") 添加
  script(src="https://code.jquery.com/jquery-3.6.3.min.js")
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js")
  script(src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js")
  script(src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.zh-CN.min.js")
  script(src="/javascripts/main.js")